@tailwind base;

/* Base Styles */
:root {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}

body {
  @apply w-full overflow-x-hidden relative m-0 p-0;
}

a {
  @apply text-inherit no-underline;
}

/* Typography */
h1 {
  @apply text-[48px] font-bold text-black;
}

h2 {
  @apply text-[36px] font-semibold text-black;
}

h3 {
  @apply text-[30px] font-semibold text-black;
}

h4 {
  @apply text-[24px] font-semibold text-black;
}

h5 {
  @apply text-[20px] font-semibold text-black;
}

h6 {
  @apply text-[16px] font-semibold text-black;
}

p {
  @apply font-normal text-black;
}

@tailwind components;
@tailwind utilities;
